.moviesCardList {
  margin: 0 auto;
  max-width: 1140px;
  padding-top: 70px;
}

.moviesCardList__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 24px;
  row-gap: 30px;
}

.moviesCardList__button {
  margin: 50px auto 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border: 1px #E8E8E8 solid;
  border-radius: 6px;
  cursor: pointer;
  max-width: 320px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 1259px) {
  .moviesCardList {
    margin: 0 30px;
  }

  .moviesCardList__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 36px;
    row-gap: 30px;
  }


}

@media screen and (max-width: 550px) {
  .moviesCardList {
    margin: 0 10px;
    padding-top: 40px;
  }

  .moviesCardList__button {
    max-width: 240px;
  }
}
