.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 410px;
  padding: 74px 0 70px 0;
  color: #000;
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__data {
  width: 100%;
  padding: 0;
  margin-top: 123px;
  list-style: none;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__data-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__data-section:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px #E8E8E8 solid;
}

.profile__data-section:not(:first-child) {
  padding-top: 17px;
}

.profile__data-info {
  padding: 0;
  margin: 0;
  font-weight: 400;
  border: none;
  text-align: end;
  outline: none;
  background-color: rgba(128, 128, 128, .1);
  padding: 2px;
  border: 1px rgba(128, 128, 128, .3) dotted;
  border-radius: 5px;
}

.profile__data-info:disabled {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0px;
}

.profile__error {
  display: block;
  margin-top: 200px;
  color: #FF3055;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

.profile__button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  transition: all .4s;
}

.profile__button:hover {
  opacity: .7;
}

.profile__edit-button {
  margin-top: 10px;
}

.profile__exit-button {
  margin-top: 16px;
  color: #FF3055;
  font-weight: 500;
}

@media screen and (max-width: 1259px) {
  .profile {
    padding: 236px 0 269px 0;
  }

  .profile__data {
    margin-top: 96px;
  }

  .profile__edit-button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    max-width: 260px;
    padding: 70px 0 40px 0;
  }

  .profile__data {
    margin-top: 80px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__error {
    margin-top: 379px;
  }
}
