.search {
  margin: 0 auto;
  max-width: 1140px;
}

.searchForm {
  min-height: 232px;
  color: #000;
  margin-top: 70px;
}

.searchForm__fieldset {
  margin: 0 0 26px 0;
  padding: 0;
  height: 72px;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchForm__input {
  max-width: 1030px;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  padding-left: 25px;
  font-size: 18px;
  line-height: 20px;
  outline: none;
  border-radius: 8px;
}

.searchForm__input:focus+.searchForm__button {
  background-color: #FF3055;
}

.searchForm__button {
  color: #fff;
  width: 100px;
  height: 52px;
  background-color: #3456F3;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-right: 10px;
  cursor: pointer;
  padding: 0;
  transition: all .4s;
}

.searchForm__button:hover {
  opacity: .8;
}

.searchForm__bottom-line {
  height: 1px;
  background-color: rgba(170, 170, 170, .2);
  margin: 43px 0 10px 0;
}

.searchForm__error {
  display: none;
  text-align: center;
  width: 100%;
  height: 14px;
  font-size: 11px;
  line-height: 13px;
  color: #FF004C;
  margin: 0 auto;
}

.searchForm__error_visible {
  display: block;
}

.searchForm__bottom-line {
  display: block;
}

@media screen and (max-width: 1259px) {
  .search {
    margin: 0 30px;
  }
}

@media screen and (max-width: 550px) {
  .search {
    margin: 0 14px;
  }

  .searchForm__fieldset {
    height: 56px;
    margin-bottom: 30px;
  }

  .searchForm__input {
    padding-left: 12px;
    font-size: 16px;
    line-height: 16px;
  }

  .searchForm__button {
    max-width: 80px;
    width: 100%;
    height: 44px;
    margin-right: 6px;
  }
}
