.saved-movies {
  margin: 0 auto;
  max-width: 1140px;
  padding-top: 70px;
}

.saved-movies__error {
  color: #000;
  min-height: 70px;
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 1259px) {
  .saved-movies {
    margin: 0 30px;
  }
}


@media screen and (max-width: 550px) {
  .saved-movies {
    margin: 0 0;
    padding-top: 40px;
  }
}
